body{
	background:#F8F8F8;
}

a:hover{
	text-decoration: none;
	color:#000;
}

.noticia_wrapper{
	background-color: #FFF;
	padding:15px;
	margin-bottom:15px;
	box-shadow: 1px 1px 2px #C3C3C3;
}

.navbar{
	background:#FFF;
}

.noticia_autor{
	color: #FF7C26;
	display: block;
}

.noticia_titulo{
	color:#000;
	font-size:22px;
	text-decoration: none;
}

.noticia_data{
	color:#727272;
	display: block;
}

.noticia_resumo{
	color:#333;
	margin-right:10px;
}

.ver_mais{
	text-align: center;
	background:#FFF;
	padding:20px;
}
.input-sm {
    width: 200px; 
}
.label-spacing {
	width: 100px; /* Defina a largura desejada para os rótulos */
	text-align: right; /* Alinha o texto do rótulo à direita */
	margin-right: 10px; /* Define a margem direita para criar um espaço entre o rótulo e o campo de input */
}
.button-spacing {
	width: 280px; /* Defina a largura desejada para os rótulos */
	text-align: right; /* Alinha o texto do rótulo à direita */
}